/.nyc_output
/coverage
/dist
/node_modules
/assets
!/.vscode
!/.github
/tests/fixtures/integrations/eslint-plugin
/package-lock.json
!/docs/.vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/build-system/shim
